<div class="menu-area">
    <!-- Main Menu -->
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-collapse">
            <div class="nav-inner">
                <ul class="nav main-menu menu navbar-nav">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">Главаная</a>
                    </li>
                    <li>
                        <a asp-controller="Category" asp-action="Index">Товары</a>
                    </li>
                    <li><a href="#">Service</a></li>
                    <li>
                        <a asp-controller="Home" asp-action="About">О нас</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ End Main Menu -->
</div>