@model CategoryViewModel

    <div class="product-area section">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                            <div class="tab-single">
                                <div class="row">
                                    @{
                                        foreach (Category category in Model.ParentCategories)
                                        {
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a asp-controller="Category" asp-action="ProductsByID" asp-route-id="@category.ID">
                                                            <img class="default-img" src="~/images/Categories/@category.Name/@category.Img" alt="#">
                                                            <img class="hover-img" src="~/images/Categories/@category.Name/@category.Img" alt="#">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a asp-controller="Category" asp-action="ProductsByID" asp-route-id="@category.ID">@category.Name</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
