
@{
    ViewData["Title"] = "Hello";
}

<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=divice-width" />
        <title>Hello</title>
    </head>
    <body>
        <h1 style="text-align:center; color:blue">@ViewBag.Greetings</h1>
    </body>
</html>

