
@{
    ViewData["Title"] = "Products";
}

<DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title>Products</title>
</head>
<body>
    <p>ID: @Model.ID</p>
    <p>Name: @Model.Name</p>
    <p>Price: @Model.Price</p>
</body>
</html>
